{"http_interactions":[{"request":{"method":"GET","uri":"https://commons.wikimedia.org/w/api.php?action=query&list=search&srsearch=Pinus&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0"},"response":{"status":200,"headers":{"accept-ranges":"bytes","age":"0","cache-control":"private, must-revalidate, max-age=0","content-disposition":"inline; filename=api-result.json","content-encoding":"gzip","content-type":"application/json; charset=utf-8","date":"Wed, 23 Jul 2025 12:34:01 GMT","nel":"{ \"report_to\": \"wm_nel\", \"max_age\": 604800, \"failure_fraction\": 0.05, \"success_fraction\": 0.0}","report-to":"{ \"group\": \"wm_nel\", \"max_age\": 604800, \"endpoints\": [{ \"url\": \"https://intake-logging.wikimedia.org/v1/events?stream=w3c.reportingapi.network_error&schema_uri=/w3c/reportingapi/network_error/1.0.0\" }] }","server":"mw-api-ext.codfw.main-795866d854-cxj6l","server-timing":"cache;desc=\"pass\", host;desc=\"cp4039\"","set-cookie":["WMF-Last-Access=23-Jul-2025;Path=/;HttpOnly;secure;Expires=Sun, 24 Aug 2025 12:00:00 GMT","GeoIP=US:OR:Portland:45.58:-122.68:v4; Path=/; secure; Domain=.wikimedia.org","NetworkProbeLimit=0.001;Path=/;Secure;SameSite=None;Max-Age=3600","WMF-Uniq=sMDov-4enGGW2pJuQqRF1AI5AAAAAFvdqoYDTCL6OslUnT79xA_gxcwxAS2wODLq;Domain=commons.wikimedia.org;Path=/;HttpOnly;secure;SameSite=None;Expires=Thu, 23 Jul 2026 00:00:00 GMT"],"status":"HTTP/2 200 ","strict-transport-security":"max-age=106384710; includeSubDomains; preload","vary":"Accept-Encoding,X-Subdomain,Treat-as-Untrusted,X-Forwarded-Proto,Cookie,Authorization","x-cache":"cp4039 miss, cp4039 pass","x-cache-status":"pass","x-client-ip":"75.164.95.128","x-content-type-options":"nosniff","x-frame-options":"DENY","x-search-id":"3yc35s0l8oa8g3nxd2tjbyoit"},"body":{"string":"{\"batchcomplete\":\"\",\"continue\":{\"sroffset\":10,\"continue\":\"-||\"},\"query\":{\"searchinfo\":{\"totalhits\":303},\"search\":[{\"ns\":0,\"title\":\"Pinus\",\"pageid\":82071,\"size\":7253,\"wordcount\":621,\"snippet\":\"Ordo:\\u00a0Pinales\\u00a0\\u2022 Familia:\\u00a0Pinaceae\\u00a0\\u2022 Genus:\\u00a0<span class=\\\"searchmatch\\\">Pinus<\/span> L. Wikispecies has an entry on: <span class=\\\"searchmatch\\\">Pinus<\/span> Vernacular names\\u00a0[edit wikidata &#039;<span class=\\\"searchmatch\\\">Pinus<\/span>&#039;] English:\\u00a0Pine Afrikaans:\\u00a0Denneboom\",\"timestamp\":\"2024-03-09T16:16:22Z\"},{\"ns\":0,\"title\":\"Pinus nigra\",\"pageid\":64703,\"size\":7829,\"wordcount\":503,\"snippet\":\"Ordo:\\u00a0Pinales\\u00a0\\u2022 Familia:\\u00a0Pinaceae\\u00a0\\u2022 Genus:\\u00a0<span class=\\\"searchmatch\\\">Pinus<\/span>\\u00a0\\u2022 Species:\\u00a0<span class=\\\"searchmatch\\\">Pinus<\/span>\\u00a0nigra Arn. Wikispecies has an entry on: <span class=\\\"searchmatch\\\">Pinus<\/span> nigra Vernacular names English:\\u00a0European\",\"timestamp\":\"2023-05-05T2[...]
