{"http_interactions":[{"request":{"method":"GET","uri":"https://species.wikimedia.org/w/api.php?action=query&list=search&srsearch=Pinus&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0"},"response":{"status":200,"headers":{"accept-ranges":"bytes","age":"1","cache-control":"private, must-revalidate, max-age=0","content-disposition":"inline; filename=api-result.json","content-encoding":"gzip","content-type":"application/json; charset=utf-8","date":"Wed, 23 Jul 2025 12:34:05 GMT","nel":"{ \"report_to\": \"wm_nel\", \"max_age\": 604800, \"failure_fraction\": 0.05, \"success_fraction\": 0.0}","report-to":"{ \"group\": \"wm_nel\", \"max_age\": 604800, \"endpoints\": [{ \"url\": \"https://intake-logging.wikimedia.org/v1/events?stream=w3c.reportingapi.network_error&schema_uri=/w3c/reportingapi/network_error/1.0.0\" }] }","server":"mw-api-ext.codfw.main-795866d854-h5cf8","server-timing":"cache;desc=\"pass\", host;desc=\"cp4039\"","set-cookie":["WMF-Last-Access=23-Jul-2025;Path=/;HttpOnly;secure;Expires=Sun, 24 Aug 2025 12:00:00 GMT","GeoIP=US:OR:Portland:45.58:-122.68:v4; Path=/; secure; Domain=.wikimedia.org","NetworkProbeLimit=0.001;Path=/;Secure;SameSite=None;Max-Age=3600","WMF-Uniq=4vwQMS7-t8WD_6_DKDBq1AI5AAAAAFvdkRZZCOXocFrPnQX8ZKr2pZq4OwmuBwat;Domain=species.wikimedia.org;Path=/;HttpOnly;secure;SameSite=None;Expires=Thu, 23 Jul 2026 00:00:00 GMT"],"status":"HTTP/2 200 ","strict-transport-security":"max-age=106384710; includeSubDomains; preload","vary":"Accept-Encoding,X-Subdomain,Treat-as-Untrusted,X-Forwarded-Proto,Cookie,Authorization","x-cache":"cp4039 miss, cp4039 pass","x-cache-status":"pass","x-client-ip":"75.164.95.128","x-content-type-options":"nosniff","x-frame-options":"DENY","x-search-id":"ee19gw75g6ohz452ozsc9lldp"},"body":{"string":"{\"batchcomplete\":\"\",\"continue\":{\"sroffset\":10,\"continue\":\"-||\"},\"query\":{\"searchinfo\":{\"totalhits\":739},\"search\":[{\"ns\":0,\"title\":\"Pinus\",\"pageid\":17362,\"size\":6568,\"wordcount\":995,\"snippet\":\"Familia: Pinaceae Genus: <span class=\\\"searchmatch\\\">Pinus<\/span> Subgenera: P.\\u00a0subg.\\u00a0<span class=\\\"searchmatch\\\">Pinus<\/span>\\u00a0\\u2013 P.\\u00a0subg.\\u00a0Strobus Species: <span class=\\\"searchmatch\\\">Pinus<\/span> subgenus <span class=\\\"searchmatch\\\">Pinus<\/span>: P.\\u00a0apulcensis\\u00a0\\u2013 P.\\u00a0arizonica\\u00a0\\u2013 P.\\u00a0attenuata\\u00a0\\u2013\",\"timestamp\":\"2024-12-07T03:01:30Z\"},{\"ns\":0,\"title\":\"Pinus sylvestris var. sylvestris\",\"pageid\":611983,\"size\":10832,\"wordcount\":1261,\"snippet\":\"Pinaceae Genus: <span class=\\\"searchmatch\\\">Pinus<\/span> Subgenus: P.\\u00a0subg.\\u00a0<span class=\\\"searchmatch\\\">Pinus<\/span> Sectio: P.\\u00a0sect.\\u00a0<span class=\\\"searchmatch\\\">Pinus<\/span> Subsectio: P.\\u00a0subsect.\\u00a0<span class=\\\"searchmatch\\\">Pinus<\/span> Species: <span class=\\\"searchmatch\\\">Pinus<\/span> s[...]
