{"http_interactions":[{"request":{"method":"GET","uri":"https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=Pinus&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0"},"response":{"status":200,"headers":{"accept-ranges":"bytes","age":"0","cache-control":"private, must-revalidate, max-age=0","content-disposition":"inline; filename=api-result.json","content-encoding":"gzip","content-type":"application/json; charset=utf-8","date":"Wed, 23 Jul 2025 12:34:03 GMT","nel":"{ \"report_to\": \"wm_nel\", \"max_age\": 604800, \"failure_fraction\": 0.05, \"success_fraction\": 0.0}","report-to":"{ \"group\": \"wm_nel\", \"max_age\": 604800, \"endpoints\": [{ \"url\": \"https://intake-logging.wikimedia.org/v1/events?stream=w3c.reportingapi.network_error&schema_uri=/w3c/reportingapi/network_error/1.0.0\" }] }","server":"mw-api-ext.codfw.main-795866d854-mbr8p","server-timing":"cache;desc=\"pass\", host;desc=\"cp4039\"","set-cookie":["WMF-Last-Access=23-Jul-2025;Path=/;HttpOnly;secure;Expires=Sun, 24 Aug 2025 12:00:00 GMT","WMF-Last-Access-Global=23-Jul-2025;Path=/;Domain=.wikipedia.org;HttpOnly;secure;Expires=Sun, 24 Aug 2025 12:00:00 GMT","GeoIP=US:OR:Portland:45.58:-122.68:v4; Path=/; secure; Domain=.wikipedia.org","NetworkProbeLimit=0.001;Path=/;Secure;SameSite=None;Max-Age=3600","WMF-Uniq=_nc2vjyOVCDmNzh2EsrQ4QI5AAAAAFvdbLWfB5VFx-5AdM2qrX4O2P2mukQU9hl-;Domain=.wikipedia.org;Path=/;HttpOnly;secure;SameSite=None;Expires=Thu, 23 Jul 2026 00:00:00 GMT"],"status":"HTTP/2 200 ","strict-transport-security":"max-age=106384710; includeSubDomains; preload","vary":"Accept-Encoding,X-Subdomain,Treat-as-Untrusted,X-Forwarded-Proto,Cookie,Authorization","x-cache":"cp4039 miss, cp4039 pass","x-cache-status":"pass","x-client-ip":"75.164.95.128","x-content-type-options":"nosniff","x-frame-options":"DENY","x-search-id":"1q39wyi4jqcz19datcq9qw6at"},"body":{"string":"{\"batchcomplete\":\"\",\"continue\":{\"sroffset\":10,\"continue\":\"-||\"},\"query\":{\"searchinfo\":{\"totalhits\":4352,\"suggestion\":\"pinas\",\"suggestionsnippet\":\"pinas\"},\"search\":[{\"ns\":0,\"title\":\"Pine\",\"pageid\":39389,\"size\":75570,\"wordcount\":5116,\"snippet\":\"A pine is any conifer tree or shrub in the genus <span class=\\\"searchmatch\\\">Pinus<\/span> (/\\u02c8pa\\u026an\\u0259s/) of the family Pinaceae. <span class=\\\"searchmatch\\\">Pinus<\/span> is the sole genus in the subfamily Pinoideae. World Flora\",\"timestamp\":\"2025-07-18T13:06:54Z\"},{\"ns\":0,\"title\":\"Pinus ponderosa\",\"pageid\":532941,\"size\":50881,\"wordcount\":5064,\"snippet\":\"misidentified it as <span class=\\\"searchmatch\\\">Pinus<\/span> resinosa (red pine). In 1829, Douglas concluded that he had a new pine among his specimens and coined the name <span class=\\\"searchmatch\\\">Pinus<\/span> ponderosa for\",\"timestamp\":\"2025-07-18T13:07:41Z\"},{\"ns\":0,\"title\":\"Pinus sylvestris\",\"pageid\":181580,\"size\":32407,\"wordcount\":3[...]
