{"http_interactions":[{"request":{"method":"GET","uri":"https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=asdfadfaadfadfs&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0"},"response":{"status":200,"headers":{"accept-ranges":"bytes","age":"2","cache-control":"private, must-revalidate, max-age=0","content-disposition":"inline; filename=api-result.json","content-encoding":"gzip","content-length":"83","content-type":"application/json; charset=utf-8","date":"Wed, 23 Jul 2025 12:34:03 GMT","nel":"{ \"report_to\": \"wm_nel\", \"max_age\": 604800, \"failure_fraction\": 0.05, \"success_fraction\": 0.0}","report-to":"{ \"group\": \"wm_nel\", \"max_age\": 604800, \"endpoints\": [{ \"url\": \"https://intake-logging.wikimedia.org/v1/events?stream=w3c.reportingapi.network_error&schema_uri=/w3c/reportingapi/network_error/1.0.0\" }] }","server":"mw-api-ext.codfw.main-795866d854-57slw","server-timing":"cache;desc=\"pass\", host;desc=\"cp4039\"","set-cookie":["WMF-Last-Access=23-Jul-2025;Path=/;HttpOnly;secure;Expires=Sun, 24 Aug 2025 12:00:00 GMT","WMF-Last-Access-Global=23-Jul-2025;Path=/;Domain=.wikipedia.org;HttpOnly;secure;Expires=Sun, 24 Aug 2025 12:00:00 GMT","GeoIP=US:OR:Portland:45.58:-122.68:v4; Path=/; secure; Domain=.wikipedia.org","NetworkProbeLimit=0.001;Path=/;Secure;SameSite=None;Max-Age=3600","WMF-Uniq=yMKxGHJpDiU2kgLOKgkpUwI5AAAAAFvdHk00YlfPkjtmZXqmCgEtGuPvegsf65mD;Domain=.wikipedia.org;Path=/;HttpOnly;secure;SameSite=None;Expires=Thu, 23 Jul 2026 00:00:00 GMT"],"status":"HTTP/2 200 ","strict-transport-security":"max-age=106384710; includeSubDomains; preload","vary":"Accept-Encoding,X-Subdomain,Treat-as-Untrusted,X-Forwarded-Proto,Cookie,Authorization","x-cache":"cp4039 miss, cp4039 pass","x-cache-status":"pass","x-client-ip":"75.164.95.128","x-content-type-options":"nosniff","x-frame-options":"DENY","x-search-id":"dt0wyrbo71qxe5epgl80fo2lw"},"body":{"string":"{\"batchcomplete\":\"\",\"query\":{\"searchinfo\":{\"totalhits\":0},\"search\":[]}}"}},"recorded_at":"2025-07-23 12:34:03"}],"recorded_with":"VCR-vcr/2.0.0"}
