http_interactions:
- request:
    method: get
    uri: https://commons.wikimedia.org/w/api.php?action=query&list=search&srsearch=Pinus&utf8=&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      content-disposition: inline; filename=api-result.json
      backend-timing: D=77353 t=1525307015430157
      x-analytics: ns=-1;special=Badtitle;WMF-Last-Access=03-May-2018;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":262},"search":[{"ns":0,"title":"Pinus","pageid":82071,"size":4154,"wordcount":328,"snippet":"Ordo: Pinales •
        Familia: Pinaceae • Genus: <span class=\"searchmatch\">Pinus</span> L.    Wikispecies
        has an entry on: <span class=\"searchmatch\">Pinus</span>     Vernacular names [edit
        wikidata ''<span class=\"searchmatch\">Pinus</span>'']   English: Pine Afrikaans: Denneboom","timestamp":"2017-05-28T10:22:53Z"},{"ns":0,"title":"Pinus
        × schwerinii","pageid":11923249,"size":634,"wordcount":67,"snippet":"Genus: <span
        class=\"searchmatch\">Pinus</span> • Nothospecies: <span class=\"searchmatch\">Pinus</span> × schwerinii    Vernacular
        names [edit wikidata ''<span class=\"searchmatch\">Pinus</span> × schwerinii'']   polski: Sosna
        Schwerina   Formula hybridae: <span class=\"searchmatch\">Pinus</span>","timestamp":"2015-01-20T19:39:28Z"},{"ns":0,"title":"Pinus
        nigra","pageid":64703,"size":7743,"wordcount":501,"snippet":"Ordo: Pinales •
        Familia: Pinaceae • Genus: <span class=\"searchmatch\">Pinus</span> • Species: <span
        class=\"searchmatch\">Pinus</span> nigra Arn.    Wikispecies has an entry
        on: <span class=\"searchmatch\">Pinus</span> nigra     Vernacular names  English: European","timestamp":"2018-03-06T10:19:20Z"},{"ns":0,"title":"Spinus
        pinus","pageid":703299,"size":1560,"wordcount":243,"snippet":"Genus: Spinus •
        Species: Spinus <span class=\"searchmatch\">pinus</span> (A. Wilson, 1810)    Wikispecies
        has an entry on: Spinus <span class=\"searchmatch\">pinus</span>     Synonyms
        Carduelis <span class=\"searchmatch\">pinus</span>    Vernacular names [edit","timestamp":"2017-07-30T15:08:29Z"},{"ns":0,"title":"Pinus
        cooperi","pageid":8853401,"size":564,"wordcount":64,"snippet":"Genus: <span
        class=\"searchmatch\">Pinus</span> • Species: <span class=\"searchmatch\">Pinus</span> cooperi
        C.E.Blanco    Vernacular names [edit wikidata ''<span class=\"searchmatch\">Pinus</span>
        cooperi'']   English: Cooper''s Pine français: <span class=\"searchmatch\">Pinus</span>
        arizonica","timestamp":"2014-12-14T02:50:02Z"},{"ns":0,"title":"Pinus distribution
        maps of North America","pageid":29464212,"size":25972,"wordcount":92,"snippet":"pines,
        soft pines.   Little et al. included the <span class=\"searchmatch\">Pinus</span>
        chiapensis populations (in Mexico) as part of <span class=\"searchmatch\">Pinus</span>
        strobus. See [1].   Pinyon pines, lacebark pines","timestamp":"2018-01-13T23:44:34Z"},{"ns":0,"title":"Pinus
        herrerae","pageid":29975479,"size":206,"wordcount":28,"snippet":"Classis: Pinopsida •
        Ordo: Pinales • Familia: Pinaceae • Genus: <span class=\"searchmatch\">Pinus</span> •
        Species: <span class=\"searchmatch\">Pinus</span> herrerae Martínez    Wikispecies
        has an entry on: <span class=\"searchmatch\">Pinus</span> herrerae          Cone","timestamp":"2015-01-20T19:39:08Z"},{"ns":0,"title":"Setophaga
        pinus","pageid":352900,"size":1867,"wordcount":213,"snippet":"Genus: Setophaga •
        Species: Setophaga <span class=\"searchmatch\">pinus</span> (A. Wilson, 1811)    Wikispecies
        has an entry on: Dendroica <span class=\"searchmatch\">pinus</span>     Synonyms
        Dendroica <span class=\"searchmatch\">pinus</span>    Vernacular names [edit","timestamp":"2018-04-29T12:37:01Z"},{"ns":0,"title":"Pinus
        tabuliformis","pageid":235899,"size":1739,"wordcount":138,"snippet":"Genus: <span
        class=\"searchmatch\">Pinus</span> • Species: <span class=\"searchmatch\">Pinus</span> tabuliformis
        Carrière    Wikispecies has an entry on: <span class=\"searchmatch\">Pinus</span>
        tabuliformis     Vernacular names [edit wikidata ''<span class=\"searchmatch\">Pinus</span>
        tabuliformis'']","timestamp":"2014-11-24T06:13:30Z"},{"ns":0,"title":"Pinus
        maximinoi","pageid":20376092,"size":485,"wordcount":60,"snippet":"Familia: Pinaceae •
        Genus: <span class=\"searchmatch\">Pinus</span> • Species: <span class=\"searchmatch\">Pinus</span> maximinoi
        H.E.Moore    Wikispecies has an entry on: <span class=\"searchmatch\">Pinus</span>
        maximinoi     Synonyms <span class=\"searchmatch\">Pinus</span> tenuifolia
        Benth., non","timestamp":"2012-07-27T00:51:34Z"}]}}'
  recorded_at: 2018-05-03 00:23:35 GMT
  recorded_with: vcr/0.0.8.9536, webmockr/0.2.2.9119, crul/0.5.2
