http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=Pinus&utf8=&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-search-id: njzvbvux0iw21ix481yuj0c0
      content-disposition: inline; filename=api-result.json
      backend-timing: D=108650 t=1539976081501007
      x-analytics: ns=-1;special=Badtitle;WMF-Last-Access=19-Oct-2018;WMF-Last-Access-Global=19-Oct-2018;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":3144},"search":[{"ns":0,"title":"Pine","pageid":39389,"size":28676,"wordcount":3298,"snippet":"A
        pine is any conifer in the genus <span class=\"searchmatch\">Pinus</span>,
        /<span class=\"searchmatch\">ˈpiːnuːs</span>/, of the family Pinaceae. <span
        class=\"searchmatch\">Pinus</span> is the sole genus in the subfamily Pinoideae.
        The Plant List compiled","timestamp":"2018-10-13T07:58:58Z"},{"ns":0,"title":"Pinus
        ponderosa","pageid":532941,"size":28882,"wordcount":2778,"snippet":"misidentified
        it as <span class=\"searchmatch\">Pinus</span> resinosa (red pine). In 1829,
        Douglas concluded that he had a new pine among his specimens and coined the
        name <span class=\"searchmatch\">Pinus</span> ponderosa for","timestamp":"2018-08-16T22:22:37Z"},{"ns":0,"title":"Pinus
        strobus","pageid":464301,"size":28962,"wordcount":3578,"sn[...]
