http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?page=Poa_annua&action=parse&redirects=TRUE&format=json&utf8=TRUE&prop=text%7Clanglinks%7Ccategories%7Clinks%7Ctemplates%7Cimages%7Cexternallinks%7Csections%7Crevid%7Cdisplaytitle%7Ciwlinks%7Cproperties
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      content-disposition: inline; filename=api-result.json
      backend-timing: D=46090 t=1539976079960228
      x-analytics: ns=-1;special=Badtitle;WMF-Last-Access=19-Oct-2018;WMF-Last-Access-Global=19-Oct-2018;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '{"parse":{"title":"Poa annua","pageid":4579575,"revid":862397858,"redirects":[],"text":{"*":"<div
        class=\"mw-parser-output\"><p class=\"mw-empty-elt\">\n</p>\n<table class=\"infobox
        biota\" style=\"text-align: left; width: 200px; font-size: 100%\">\n\n<tbody><tr>\n<th
        colspan=\"2\" style=\"text-align: center; background-color: rgb(180,250,180)\"><i>Poa
        annua</i>\n</th></tr>\n<tr>\n<td colspan=\"2\" style=\"text-align: center\"><a
        href=\"/wiki/File:Poa_annua.jpeg\" class=\"image\"><img alt=\"Poa annua.jpeg\"
        src=\"//upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Poa_annua.jpeg/220px-Poa_annua.jpeg\"
        width=\"220\" height=\"165\" srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Poa_annua.jpeg/330px-Poa_annua.jpeg
        1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Poa_annua.jpeg/440px-Poa_annua.jpeg
        2x\" data-file-width=\"800\" data-file-height=\"600\" /></a>\n</td></tr>\n\n\n\n\n\n<tr>\n<th
        colspan=\"2\" style=\"min-width:15em; text-align: center; background-color:
        rgb(180,250,180)\"><a href=\"/wiki/Taxonomy_(biology)\" title=\"Taxonomy (biology)\">Scientific
        classification</a> <span class=\"plainlinks\" style=\"font-size:smaller; float:right;
        padding-right:0.4em; margin-left:-3em;\"><a href=\"/wiki/Template:Taxonomy/Poa\"
        title=\"edit\"><img alt=\"edit\" src=\"//upload.wikimedia.org/wikipedia/commons/7/74/Red_Pencil_Icon.png\"
        width=\"16\" height=\"16\" data-file-width=\"16\" data-file-height=\"16\"
        /></a></span>\n</th></tr>\n<tr>\n<td>Kingdom:</td>\n<td><a href=\"/wiki/Plant\"
        title=\"Plant\">Plantae</a>\n</td></tr>\n<tr>\n<td><i>Clade</i>:</td>\n<td><a
        href=\"/wiki/Flowering_plant\" title=\"Flowering plant[...]
