http_interactions:
- request:
    method: get
    uri: https://commons.wikimedia.org/w/api.php?action=query&list=search&srsearch=asdfadfaadfadfs&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      status: HTTP/1.1 200 OK
      x-client-ip: 24.21.229.59
      x-search-id: 1438aoyygnlvl4mbx6lwlc7tn
    body:
      encoding: UTF-8
      file: no
      string: '{"batchcomplete":"","query":{"searchinfo":{"totalhits":0},"search":[]}}'
  recorded_at: 2020-06-28 16:12:06 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
