http_interactions:
- request:
    method: get
    uri: https://species.wikimedia.org/w/api.php?action=query&list=search&srsearch=Pinus&utf8=&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-search-id: ewuovu2na0tlghubby36cas00
      content-disposition: inline; filename=api-result.json
      backend-timing: D=158588 t=1539976084435969
      x-analytics: ns=-1;special=Badtitle;WMF-Last-Access=19-Oct-2018;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":417},"search":[{"ns":0,"title":"Pinus","pageid":17362,"size":1570,"wordcount":281,"snippet":"Familia:
        Pinaceae  Genus: <span class=\"searchmatch\">Pinus</span>  Subgenera: P. subg. <span
        class=\"searchmatch\">Pinus</span> – P. subg. Strobus   <span class=\"searchmatch\">Pinus</span>
        L.   Apinus Neck., nom. illeg. Caryopitys Small Cembra Opiz Ducampopinus","timestamp":"2017-02-08T18:23:44Z"},{"ns":0,"title":"Pinus
        nigra subsp. nigra","pageid":327138,"size":1412,"wordcount":127,"snippet":"Familia:
        Pinaceae Genus: <span class=\"searchmatch\">Pinus</span> Species: <span class=\"searchmatch\">Pinus</span>
        nigra Subspecies: <span class=\"searchmatch\">Pinus</span> nigra subsp. nigra
        <span class=\"searchmatch\">Pinus</span> nigra J.F.Arnold subsp. nigra <span
        class=\"searchmatch\">Pinus</span> laricio var. nigra (J","timestamp":"2016-03-13T23:35:20Z"},{"ns":0,"title":"Pinus
        subg. Pinus","pageid":300923,"size":318,"wordcount":27,"snippet":"Pinaceae  Genus:
        <span class=\"searchmatch\">Pinus</span>  Subgenus: P. subg. <span class=\"searchmatch\">Pinus</span>  Sectiones:
        P. sect. Pinea –  P. sect. <span class=\"searchmatch\">Pinus</span> –  P. sect. Trifoliae    <span
        class=\"searchmatch\">Pinus</span> subg. <span class=\"searchmatch\">Pinus</span>   <span
        class=\"searchmatch\">Pinus</span> sylvestris","timestamp":"2017-02-08T18:29:55Z"},{"ns":0,"title":"Pinus
        clausa","pageid":45047,"size":1520,"wordcount":208,"snippet":"Pinaceae Genus:
        <span class=\"searchmatch\">Pinus</span> Subgenus: P. subg. <span class=\"searchmatch\">Pinus</span>
        Sectio: P. sect. Trifoliae Subsectiones: P. subsect. Contortae Species: <span
        class=\"searchmatch\">Pinus</span> clausa <span class=\"searchmatch\">Pinus</span>
        clausa (Chapman","timestamp":"2017-08-16T15:18:30Z"},{"ns":0,"title":"Pinus
        resinosa","pageid":45082,"size":1195,"wordcount":165,"snippet":"Pinaceae  Genus:
        <span class=\"searchmatch\">Pinus</span>  Subgenus: P. subg. <span class=\"searchmatch\">Pinus</span>  Sectio:
        P. sect. <span class=\"searchmatch\">P[...]
