http_interactions:
- request:
    method: get
    uri: https://commons.wikimedia.org/w/api.php?action=query&list=search&srsearch=asdfadfaadfadfs&utf8=&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-search-id: 6tlzzqfyu91r70slb1pyda0fn
      content-disposition: inline; filename=api-result.json
      backend-timing: D=58856 t=1539976078218084
      x-analytics: ns=-1;special=Badtitle;WMF-Last-Access=19-Oct-2018;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"searchinfo":{"totalhits":0},"search":[]}}'
  recorded_at: 2018-10-19 19:07:58 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.8.9100
