http_interactions:
- request:
    method: get
    uri: https://species.wikimedia.org/w/api.php?action=query&list=search&srsearch=asdfadfaadfadfs&utf8=&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      content-disposition: inline; filename=api-result.json
      backend-timing: D=88863 t=1525130764563482
      x-analytics: ns=-1;special=Badtitle;WMF-Last-Access=30-Apr-2018;https=1
      x-client-ip: 136.152.209.32
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"searchinfo":{"totalhits":0},"search":[]}}'
  recorded_at: 2018-04-30 23:26:04 GMT
  recorded_with: vcr/0.0.8.9534, webmockr/0.2.2.9119, crul/0.5.2
