http_interactions:
- request:
    method: get
    uri: https://commons.wikimedia.org/w/api.php?page=Malus_domestica&action=parse&redirects=TRUE&format=json&utf8=TRUE&prop=text%7Clanglinks%7Ccategories%7Clinks%7Ctemplates%7Cimages%7Cexternallinks%7Csections%7Crevid%7Cdisplaytitle%7Ciwlinks%7Cproperties
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      content-disposition: inline; filename=api-result.json
      backend-timing: D=74691 t=1525307013208610
      x-analytics: ns=-1;special=Badtitle;WMF-Last-Access=03-May-2018;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '{"parse":{"title":"Malus domestica","pageid":9161,"revid":281940175,"redirects":[],"text":{"*":"<div
        class=\"mw-parser-output\"><div style=\"float:left; margin:2px auto; border-top:1px
        solid #ccc; border-bottom:1px solid #aaa; font-size:97%\"><b><a href=\"/wiki/APG_IV\"
        class=\"mw-redirect\" title=\"APG IV\">APG IV Classification</a></b>:&#160;Domain<b>:&#160;<a
        href=\"/wiki/Eukaryota\" class=\"mw-redirect\" title=\"Eukaryota\"><span style=\"color:#005896\">Eukaryota</span></a></b>&#160;•
        (unranked)<b>:&#160;<a href=\"/wiki/Category:Archaeplastida\" title=\"Category:Archaeplastida\">Archaeplastida</a></b>&#160;•
        Regnum<b>:&#160;<a href=\"/wiki/Plantae\" class=\"mw-redirect\" title=\"Plantae\"><span
        style=\"color:#005896\">Plantae</span></a></b>&#160;• Cladus<b>:&#160;<a href=\"/wiki/Angiosperms\"
        title=\"Angiosperms\"><span style=\"color:#005896\">angiosperms</span></a></b>&#160;•
        Clad[...]
