http_interactions:
- request:
    method: get
    uri: https://commons.wikimedia.org/w/api.php?action=query&list=search&srsearch=asdfadfaadfadfs&utf8=&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      content-disposition: inline; filename=api-result.json
      backend-timing: D=56453 t=1524718633712256
      x-analytics: ns=-1;special=Badtitle;WMF-Last-Access=26-Apr-2018;https=1
      x-client-ip: 24.21.229.59
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"searchinfo":{"totalhits":0},"search":[]}}'
  recorded_at: 2018-04-26 04:57:13 GMT
  recorded_with: vcr/0.0.7.9431
