http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=asdfadfaadfadfs&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      status: 'HTTP/2 200 '
      x-client-ip: 24.21.229.59
      x-search-id: 6kp4d3wqjgtdogx15a1a9hc73
    body:
      encoding: UTF-8
      file: no
      string: '{"batchcomplete":"","query":{"searchinfo":{"totalhits":0},"search":[]}}'
  recorded_at: 2020-06-28 18:48:35 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
