http_interactions:
- request:
    method: get
    uri: https://species.wikimedia.org/w/api.php?action=query&list=search&srsearch=Pinus&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      status: HTTP/1.1 200 OK
      x-client-ip: 24.21.229.59
      x-search-id: eeb1l5on8dlulzd7crshar49u
    body:
      encoding: UTF-8
      file: no
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":515},"search":[{"ns":0,"title":"Pinus","pageid":17362,"size":5737,"wordcount":784,"snippet":"Familia:
        Pinaceae Genus: <span class=\"searchmatch\">Pinus</span> Subgenera: P.\u00a0subg.\u00a0<span
        class=\"searchmatch\">Pinus</span>\u00a0\u2013 P.\u00a0subg.\u00a0Strobus
        Overview <span class=\"searchmatch\">Pinus</span> subgenus <span class=\"searchmatch\">Pinus</span>:
        Species: P.\u00a0apulcensis\u00a0\u2013 P.\u00a0arizonica\u00a0\u2013 P.\u00a0attenuata\u00a0\u2013","timestamp":"2020-06-06T19:25:33Z"},{"ns":0,"title":"Pinus
        halepensis","pageid":45058,"size":4047,"wordcount":580,"snippet":"Pinaceae
        Genus: <span class=\"searchmatch\">Pinus</span> Subgenus: P.\u00a0subg.\u00a0<span
        class=\"searchmatch\">Pinus</span> Sectio: P.\u00a0sect.\u00a0Pinea Subsectio:
        P.\u00a0subsect.\u00a0Pinaster Species: <span class=\"searchmatch\">Pinus</span>
        halepensis <span class=\"searchmatch\">Pinus</span> halepensis Mill","timestamp":"2019-12-20T02:29:41Z"},{"ns":0,"title":"Pinus
        pinea","pageid":45076,"size":1949,"wordcount":406,"snippet":"Familia: Pinaceae
        Genus: <span cla[...]
