http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=asdfadfaadfadfs&utf8=&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      content-disposition: inline; filename=api-result.json
      backend-timing: D=59168 t=1525307019112514
      x-analytics: ns=-1;special=Badtitle;WMF-Last-Access=03-May-2018;WMF-Last-Access-Global=03-May-2018;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"searchinfo":{"totalhits":0},"search":[]}}'
  recorded_at: 2018-05-03 00:23:39 GMT
  recorded_with: vcr/0.0.8.9536, webmockr/0.2.2.9119, crul/0.5.2
