http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=Pinus&utf8=&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      content-disposition: inline; filename=api-result.json
      backend-timing: D=86896 t=1525307018497552
      x-analytics: ns=-1;special=Badtitle;WMF-Last-Access=03-May-2018;WMF-Last-Access-Global=03-May-2018;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":2972},"search":[{"ns":0,"title":"Pine","pageid":39389,"size":28279,"wordcount":3194,"snippet":"A
        pine is any conifer in the genus <span class=\"searchmatch\">Pinus</span>,
        /<span class=\"searchmatch\">ˈpiːnuːs</span>/, of the family Pinaceae. <span
        class=\"searchmatch\">Pinus</span> is the sole genus in the subfamily Pinoideae.
        The Plant List compiled","timestamp":"2018-05-01T09:42:31Z"},{"ns":0,"title":"List
        of Pinus species","pageid":448990,"size":14277,"wordcount":997,"snippet":"<span
        class=\"searchmatch\">Pinus</span>, the pines, is a genus of approximately
        111 extant tree and shrub species. The genus is currently split into two subgenera:
        subgenus <span class=\"searchmatch\">Pinus</span> (hard","timestamp":"2018-04-09T06:20:59Z"},{"ns":0,"title":"Pinus
        contorta","pageid":507717,"size":23225,"wordcount":2355,"sn[...]
