http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=Pinus&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      status: 'HTTP/2 200 '
      x-client-ip: 24.21.229.59
      x-search-id: 5ztp9ohxu4hsbntianhmm6nph
    body:
      encoding: UTF-8
      file: no
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":3374,"suggestion":"penis","suggestionsnippet":"penis"},"search":[{"ns":0,"title":"Pine","pageid":39389,"size":36555,"wordcount":4058,"snippet":"A
        pine is any conifer in the genus <span class=\"searchmatch\">Pinus</span>
        (/<span class=\"searchmatch\">\u02c8pi\u02d0nu\u02d0s</span>/) of the family
        Pinaceae. <span class=\"searchmatch\">Pinus</span> is the sole genus in the
        subfamily Pinoideae. The Plant List compiled","timestamp":"2020-06-26T20:27:35Z"},{"ns":0,"title":"Pinus
        ponderosa","pageid":532941,"size":31087,"wordcount":3069,"snippet":"misidentified
        it as <span class=\"searchmatch\">Pinus</span> resinosa (red pine). In 1829,
        Douglas concluded that he had a new pine among his specimens and coined the
        name <span class=\"searchmatch\">Pinus</span> ponderosa for","timestamp":"2020-06-19T19:32:26Z"},{"ns":0,"title":"Pinus
        contorta","pageid":507717,"size":20486,"wordcount":2343,"s[...]
