http_interactions:
- request:
    method: get
    uri: https://species.wikimedia.org/w/api.php?page=Poa_annua&action=parse&redirects=TRUE&format=json&utf8=TRUE&prop=text%7Clanglinks%7Ccategories%7Clinks%7Ctemplates%7Cimages%7Cexternallinks%7Csections%7Crevid%7Cdisplaytitle%7Ciwlinks%7Cproperties
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      content-disposition: inline; filename=api-result.json
      backend-timing: D=43942 t=1524718892051922
      x-analytics: ns=-1;special=Badtitle;WMF-Last-Access=26-Apr-2018;https=1
      x-client-ip: 24.21.229.59
    body:
      encoding: UTF-8
      string: '{"parse":{"title":"Poa annua","pageid":75484,"revid":3606585,"redirects":[],"text":{"*":"<div
        class=\"mw-parser-output\"><div class=\"thumb tright\"><div class=\"thumbinner\"
        style=\"width:252px;\"><a href=\"/wiki/File:Poa_annua.jpg\" class=\"image\"><img
        alt=\"\" src=\"//upload.wikimedia.org/wikipedia/commons/thumb/7/77/Poa_annua.jpg/250px-Poa_annua.jpg\"
        width=\"250\" height=\"188\" class=\"thumbimage\" srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/7/77/Poa_annua.jpg/375px-Poa_annua.jpg
        1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/77/Poa_annua.jpg/500px-Poa_annua.jpg
        2x\" data-file-width=\"1477\" data-file-height=\"1108\" /></a>  <div class=\"thumbcaption\"><div
        class=\"magnify\"><a href=\"/wiki/File:Poa_annua.jpg\" class=\"internal\"
        title=\"Enlarge\"></a></div><i>Poa annua</i></div></div></div>\n<h2><span
        class=\"mw-headline\" id=\"Taxonavigation\">Taxonavigation</span><span class=\"mw-editsection\"><span
        class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=Poa_annua&amp;action=edit&amp;section=1\"
        title=\"Edit section: Taxonavigation\">edit</a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<table
        class=\"wikitable mw-collapsible mw-collapsed\">\n<tbody><tr>\n<th>Taxonavigation:
        <a href=\"/wiki/Poales\" title=\"Poales\">Poales&#160;</a>\n</th></tr>\n<tr>\n<td>Classification
        System: APG IV\n<p>Superregnum: <a href=\"/wiki/Eukaryota\" title=\"Eukaryota\">Eukaryota</a>
        <br />\nRegnum: <a href=\"/wiki/Plantae\" title=\"Plantae\">Plantae</a> <br
        />\nCladus: <a href=\"/wiki/Magnoliopsida\" title=\"Magnoliopsida\">Angiosperms</a>
        <br />\nCladus: <a href=\"/wiki/Monocots\" title=\"Monocots\">Monocots</a><br
        />\nCladus: <a href=\"/wiki/Commelinids\" title=\"Commelinids\">Commelinids</a><br
        />\nOrdo: <a href=\"/wiki/Poales\" title=\"Poales\">Poales</a><br />\n</p>\n</td></tr></tbody></table>\n<p>Familia:
        <a href=\"/wiki/Poaceae\" title=\"Poaceae\">Poaceae</a> <br />\nSubfamilia:
        <a href=\"/wiki/Pooideae\" title=\"Pooideae\">Pooideae</a> <br />\nTribus:
        <a href=\"/wiki/Poeae\" title=\"Poeae\">Poeae</a> <br />\nSubtribus: <a href=\"/wiki/Poinae\"
        title=\"Poinae\">Poinae</a><br />\nGenus: <i><a href=\"/wiki/Poa\" title=\"Poa\">Poa</a></i>   <br
        />\nSpecies: <i><a class=\"mw-selflink selflink\">Poa annua</a></i>\n</p>\n<h2><span
        class=\"mw-headline\" id=\"Name\">Name</span><span class=\"mw-editsection\"><span
        class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=Poa_annua&amp;action=edit&amp;section=2\"
        title=\"Edit section: Name\">edit</a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<p><i>Poa
        annua</i> <span style=\"font-variant: small-caps;\" class=\"vcard\"><span
        class=\"fn n nickname\"><a href=\"/wiki/L.\" class=\"mw-redirect\" title=\"L.\">L.</a></span></span>,
        Sp. Pl. Sp. Pl. 1: 68. (1753)\n</p>\n<h3><span class=\"mw-headline\" id=\"Synonyms\">Synonyms</span><span
        class=\"mw-editsection\"><span class=\"mw-editsection-bracket\">[</span><a
        href=\"/w/index.php?title=Poa_annua&amp;action=edit&amp;section=3\" title=\"Edit
        section: Synonyms\">edit</a><span class=\"mw-editsection-bracket\">]</span></span></h3>\n<ul><li><b>Homotypic</b>\n<ul><li><i>Ochlopoa
        annua</i> (L.) H.Scholz, Ber. Inst. Landschafts Pflanzenökol. Univ. Hohenheim
        Beih. 16: 58 (2003)</li></ul></li>\n<li><b>Heterotypic</b>\n<ul><li><i>Poa
        humilis</i> Lej., Fl. Spa 1: 49 (1811), <a href=\"/wiki/Nom._illeg.\" class=\"mw-redirect\"
        title=\"Nom. illeg.\">nom. illeg.</a></li>\n<li><i>Aira pumila</i> Pursh,
        Fl. Amer. Sept. 1: 76 (1813)</li>\n<li><i>Catabrosa pumila</i> (Pursh) Roem.
        &amp; Schult., Sys[...]
