http_interactions:
- request:
    method: get
    uri: https://commons.wikimedia.org/w/api.php?action=query&list=search&srsearch=Pinus&format=json&srprop=size%7Cwordcount%7Ctimestamp%7Csnippet&srlimit=10&sroffset=0
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      status: HTTP/1.1 200 OK
      x-client-ip: 24.21.229.59
      x-search-id: 774dctjiznx5vnhyzweyy4z3z
    body:
      encoding: UTF-8
      file: no
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":270},"search":[{"ns":0,"title":"Pinus
        sylvestris","pageid":9066,"size":null,"wordcount":0,"snippet":"","timestamp":"2020-05-13T19:27:03Z"},{"ns":0,"title":"Pinus
        ponderosa","pageid":250435,"size":null,"wordcount":0,"snippet":"","timestamp":"2020-04-18T15:11:01Z"},{"ns":0,"title":"Pinus
        nigra","pageid":64703,"size":null,"wordcount":0,"snippet":"","timestamp":"2018-03-06T10:19:20Z"},{"ns":0,"title":"Pinus","pageid":82071,"size":null,"wordcount":0,"snippet":"","timestamp":"2017-05-28T10:22:53Z"},{"ns":0,"title":"Pinus
        mugo","pageid":132442,"size":null,"wordcount":0,"snippet":"","timestamp":"2019-07-26T09:08:08Z"},{"ns":0,"title":"Rog\u00f3w
        Arboretum","pageid":10563490,"size":null,"wordcount":0,"snippet":"","timestamp":"2020-01-01T13:34:22Z"},{"ns":0,"title":"Pinus
        contorta","pageid":186918,"size":null,"wordcount":0,"snippet":"","timestamp":"2020-01-19T19:02:19Z"},{"ns":0,"title":"Anacortes
        Community Forest Lands","pageid":2989013,"size":null,"wordcount":0,"snippet":"","timestamp":"2014-12-10T15:56:03Z"},{"ns":0,"title":"Pinus
        halepensis","pageid":172181,"size":null,"wordcount":0,"snippet":"","timestamp":"2018-05-05T10:49:03Z"},{"ns":0,"title":"Pinus
        brutia","pageid":139389,"size":null,"wordcount":0,"snippet":"","timestamp":"2014-11-23T11:30:42Z"}]}}'
  recorded_at: 2020-06-28 16:12:06 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
