http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?page=Malus_domestica&action=parse&redirects=TRUE&format=json&utf8=TRUE&prop=text%7Clanglinks%7Ccategories%7Clinks%7Ctemplates%7Cimages%7Cexternallinks%7Csections%7Crevid%7Cdisplaytitle%7Ciwlinks%7Cproperties
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-disposition: inline; filename=api-result.json
      content-type: application/json; charset=utf-8
      status: HTTP/1.1 200 OK
      x-client-ip: 24.21.229.59
    body:
      encoding: UTF-8
      file: no
      string: '{"parse":{"title":"Apple","pageid":18978754,"revid":963425270,"redirects":[{"from":"Malus
        domestica","to":"Apple"}],"text":{"*":"<div class=\"mw-parser-output\"><div
        role=\"note\" class=\"hatnote navigation-not-searchable\">This article is
        about the fruit and tree. For the technology company, see <a href=\"/wiki/Apple_Inc.\"
        title=\"Apple Inc.\">Apple Inc.</a> For other uses, see <a href=\"/wiki/Apple_(disambiguation)\"
        class=\"mw-disambig\" title=\"Apple (disambiguation)\">Apple (disambiguation)</a>,
        <a href=\"/wiki/Apple_blossom_(disambiguation)\" class=\"mw-redirect mw-disambig\"
        title=\"Apple blossom (disambiguation)\">Apple blossom (disambiguation)</a>,
        and <a href=\"/wiki/Apple_tree_(disambiguation)\" class=\"mw-disambig\" title=\"Apple
        tree (disambiguation)\">Apple tree (disambiguation)</a>.</div>\n<table class=\"box-Merge
        plainlinks metadata ambox ambox-move\" role=\"presentation\"><tbody><tr><td
        class=\"mbox-image\"><div style=\"width:52px\"><img alt=\"\" src=\"//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Merge-arrows.svg/50px-Merge-arrows.svg.png\"
        decoding=\"async\" width=\"50\" height=\"20\" srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/5/52/Merge-arrows.svg/75px-Merge-arrows.svg.png
        1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/52/Merge-arrows.svg/100px-Merge-arrows.svg.png
        2x\" data-file-width=\"50\" data-file-height=\"20\" /></div></td><td class=\"mbox-text\"><div
        class=\"mbox-text-span\">It has been suggested that this article be <a href=\"/wiki/Wikipedia:Merging\"
        title=\"Wikipedia:Merging\">merged</a> with <i><a href=\"/wiki/Apple_genome\"
        title=\"Apple genome\">Apple genome</a></i>. (<a href=\"/wiki/Talk:Apple_genome#Proposed_merge_of_Apple_with_Apple_genome\"
        title=\"Talk:Apple genome\">Discuss</a>)<small><i> Proposed since April 2020.</i></small></div></td></tr></tbody></table>\n<p
        class=\"mw-empty-elt\">\n</p>\n<div class=\"shortdescription nomobile noexcerpt
        noprint searchaux\" style=\"display:none\">Edible fruit of domesticated deciduous
        tree</div>\n<p class=\"mw-empty-elt\">\n\n\n</p>\n<table class=\"infobox biota\"
        style=\"text-align: left; width: 200px; font-size: 100%\">\n\n<tbody><tr>\n<th
        colspan=\"2\" style=\"text-align: center; background-color:[...]
