http_interactions:
- request:
    method: get
    uri: https://species.wikimedia.org/w/api.php?page=Malus_domestica&action=parse&redirects=TRUE&format=json&utf8=TRUE&prop=text%7Clanglinks%7Ccategories%7Clinks%7Ctemplates%7Cimages%7Cexternallinks%7Csections%7Crevid%7Cdisplaytitle%7Ciwlinks%7Cproperties
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      content-disposition: inline; filename=api-result.json
      backend-timing: D=54663 t=1525307017883616
      x-analytics: ns=-1;special=Badtitle;WMF-Last-Access=03-May-2018;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '{"parse":{"title":"Malus domestica","pageid":86997,"revid":3582826,"redirects":[],"text":{"*":"<div
        class=\"mw-parser-output\"><div class=\"thumb tright\"><div class=\"thumbinner\"
        style=\"width:252px;\"><a href=\"/wiki/File:Discovery_apples.jpg\" class=\"image\"><img
        alt=\"\" src=\"//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Discovery_apples.jpg/250px-Discovery_apples.jpg\"
        width=\"250\" height=\"188\" class=\"thumbimage\" srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Discovery_apples.jpg/375px-Discovery_apples.jpg
        1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Discovery_apples.jpg/500px-Discovery_apples.jpg
        2x\" data-file-width=\"2048\" data-file-height=\"1536\" /></a>  <div class=\"thumbcaption\"><div
        class=\"magnify\"><a href=\"/wiki/File:Discovery_apples.jpg\" class=\"internal\"
        title=\"Enlarge\"></a></div><i>Malus domestica</i> ''Discovery''</div></div></div>\n<h2><span
        class=\"mw-headline\" id=\"Taxonavigation\">Taxonavigation</span><span class=\"mw-editsection\"><span
        class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=Malus_domestica&amp;action=edit&amp;section=1\"
        title=\"Edit section: Taxonavigation\">edit</a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<table
        class=\"wikitable mw-collapsible mw-collapsed\">\n<tbody><tr>\n<th>Taxonavigation:
        <a href=\"/wiki/Rosales\" title=\"Rosales\">Rosales&#160;</a>\n</th></tr>\n<tr>\n<td>Classification
        System: APG IV\n<p>Superregnum: <a href=\"/wiki/Eukaryota\" title=\"Eukaryota\">Eukaryota</a>
        <br />\nRegnum: <a href=\"/wiki/Plantae\" title=\"Plantae\">Plantae</a> <br
        />\nCladus: <a href=\"/wiki/Magnoliopsida\" title=\"Magnoliopsida\">Angiosperms</a>
        <br />\nCladus: <a href=\"/wiki/Eudicots\" title=\"Eudicots\">Eudicots</a>
        <br />\nCladus: <a href=\"/wiki/Core_eudicots\" title=\"Core eudicots\">Core
        eudicots</a> <br />\nCladus: <a href=\"/wiki/Rosids\" title=\"Rosids\">Rosids</a>
        <br />\nCladus: <a href=\"/wiki/Eurosids_I\" title=\"Eurosids I\">Euro[...]
